<ArticleIndex class="flex-column">
  <table class="">
    <thead>
      <tr>
        <th class="table-header">ID</th>
        <th class="table-header">Name</th>
        <th class="table-header">Content</th>        
      </tr>
    </thead>
    <tbody >
      <% @articles.each do |article|%>
        <tr>
          <td class="table-cell"><%= article.id%></td>
          <td class="table-cell"><%= article.name%></td>
          <td class="table-cell"><%= article.body%></td>
          <td class="table-cell"><%= button_to "Modify Article", edit_article_path(article.id), method: :get, class: 'edit-btn' %>  </td>
          <td class="table-cell"> | </td>
          <td class="table-cell"><%= button_to "Show Article", show_article_path(article.id),  method: :get, class: 'show-btn ' %>  </td>
          <td class="table-cell"> | </td>
          <td class="table-cell"><%= button_to "Delete Article", destroy_article_path(article.id), method: :delete , class: 'delete-btn'%></td>
          <!--  -->
        </tr>
      <%end%>
    </tbody>
  </table>

  <div style="margin-top: 1rem;">
    <%= button_to " Create new Article ", new_article_path, method: :get ,class:'post-btn'%>
  </div>
</ArticleIndex>
